  
  /* 
    This controls the appearance of the days of the week header at the top of the calendar.
    It's recommended that you only add styles that effect the visual presentation of the 
    text here, (color, font-size, etc), rather than it's layout.
  */
  #day_runner{
    font-weight: bold;
  }

  /*
  This controls the appearance of the month name at the top of the calendar
  */
  #month_name{
    color: green;
    font-size: 24px;
    font-weight: bold;
  }
  
  /*
    This controls the appearance of the individual days of the month. Bear in mind
    that the width of these boxes can be programatically controlled when you first
    create the calendar, removing the need to figure out appropriate widths here.
  */
  .date_box{
    height: 90px;
    border: 1px solid black;
  }

  /*
    This controls the visual appearance of the date box that represents the current 
    date.  It's recommended that you only change basic visual styles for this class,
    (such as background color or text color, etc.)
  */
  .current_day{
    background-color: #e8d2b0;
  }
  
  /*
    This controls the style of any boxes that are 'fill in', that is, not representing
    a date, but used to fill out the calendar square.
  */
  .empty_date{
    background-color: gray;
  }

